@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Henny+Penny&display=swap');
.external-style {
    color: blue;
    font-size: 18px;
    border: 2px dashed blue;
    padding: 10px;
}

h4{
    color: hsl(78,89,78);
}